// Updated grid breakpoints
$grid-breakpoints: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  '2xl': 1320px,
  '3xl': 1440px,
  /*'4xl': 1920px,
  '5xl': 2560px,*/
) !default;

// Use consistent media query ranges with map-get for breakpoints
@media (max-width: map-get($grid-breakpoints, sm) - 1) {
  // 0 - 539px
  html,
  body {
    font-size: var(--wd-font-size-one-rem-0-719) !important;
  }
}

@media (min-width: map-get($grid-breakpoints, sm)) and (max-width: map-get($grid-breakpoints, md) - 1) {
  // 540 - 719px
  html,
  body {
    font-size: var(--wd-font-size-one-rem-0-719) !important;
  }
}

@media (min-width: map-get($grid-breakpoints, md)) and (max-width: map-get($grid-breakpoints, lg) - 1) {
  // 720 - 959px
  html,
  body {
    font-size: var(--wd-font-size-one-rem-720-959) !important;
  }
}

@media (min-width: map-get($grid-breakpoints, lg)) and (max-width: map-get($grid-breakpoints, xl) - 1) {
  // 960 - 1139px
  html,
  body {
    font-size: var(--wd-font-size-one-rem-960-1139) !important;
  }
}

@media (min-width: map-get($grid-breakpoints, xl)) and (max-width: map-get($grid-breakpoints, '2xl') - 1) {
  // 1140 - 1319px
  html,
  body {
    font-size: var(--wd-font-size-one-rem-1140-1319) !important;
  }
}

@media (min-width: map-get($grid-breakpoints, '2xl')) and (max-width: map-get($grid-breakpoints, '3xl') - 1) {
  // 1320 - 1439px
  html,
  body {
    font-size: var(--wd-font-size-one-rem-1320-1535) !important;
  }
}

/*@media (min-width: map-get($grid-breakpoints, '3xl')) and (max-width: map-get($grid-breakpoints, '4xl') - 1) {
  // 1440 - 1919px
  html,
  body {
    font-size: var(--wd-font-size-one-rem-1440-1919) !important;
  }
}

@media (min-width: map-get($grid-breakpoints, '4xl')) and (max-width: map-get($grid-breakpoints, '5xl') - 1) {
  // 1920 - 2559px
  html,
  body {
    font-size: var(--wd-font-size-one-rem-1920-2559) !important;
  }
}

@media (min-width: map-get($grid-breakpoints, '5xl')) {
  // 2560px+
  html,
  body {
    font-size: var(--wd-font-size-one-rem) !important; // Default 16px for large screens
  }
}*/

@media (min-width: map-get($grid-breakpoints, '3xl')) {
  // 1440px+
  html,
  body {
    font-size: var(--wd-font-size-one-rem) !important; // Default 16px for large screens
  }
}
